<div class="jumbotron">
  <h2>Chat do Dojo</h2>
  <h3>Nome</h3>
  <input id="name"></input>
  <button id="change_name">Trocar</button>
  <br/>
  <h3>Mensagem</h3>
  <input id="message"></input>
  <button id="send">Enviar</button>
  <br/>
  <textarea rows="100" cols="48" id="chat">
  </textarea>
</div>
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>